
.banner
{
	padding:20px;
	/*	background: #EEEEEE; */

	 background: url('/assets/sharp_edges_white_xl.png');
     background-repeat: repeat;


		 border-bottom-style: solid;
    border-width: 2px;

		position:relative;
}

.parallelogram
{
	width: 350px;
	height: 40px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background-color: #27ae60;
}

.parallelogram p
{
	color:#eee;
		font-size: 24px;
		font-family: "Arial Black", Gadget, sans-serif;
   -webkit-transform: skew(20deg) !important;
   -moz-transform: skew(20deg) !important;
   -o-transform: skew(20deg) !important;
   transform: skew(20deg) !important;

}

.green-striped-bottom
{
	border-bottom:  2px solid #27ae60;
}

#particles-js
{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

.brand{
	color:#34495e;
	font-size:22px;
}

.sidenav{
	padding:10px;
}

.bio
{
	padding:20px;
  max-width:800px;
   margin:30px auto;

	 border-radius:15px;

}

.nav-tabs {
	background-color: rgba(0,0,0,0)
}
.info-bubble
{
	text-align:center;
		height:100px;
		border-radius:10px;
		border-style:solid;
		border-width: 1px;

		margin:5px;
		background: #eee;
		position:relative;
}

.info-text
{
	width:100%;
	padding:5px;
}

.info-icon
{
	padding:10px;
	position:absolute;
	background-color:rgba(20,20,20,0.2);
	bottom:0px;
	width:100%;
	border-radius: 0 0 10px 10px;
}

.info-icon:hover
{
	color:#e74c3c;
}

.post-content
{
	padding:5px;
}

.thumbnail
{
	border: 1px solid  ;
}
