.banner
{
	padding:20px;
	/*	background: #EEEEEE; */

	 background: url('/assets/congruent_pentagon.png');
     background-repeat: repeat;


		 border-bottom-style: solid;
    border-width: 2px;
}
.brand{
	color:#34495e;
	font-size:22px;
}

.sidenav{
	padding:10px;
}

.bio
{
	padding:20px;
  max-width:800px;
   margin:30px auto;
	 background: #ccc;
	 border-radius:15px;

}

.info-bubble
{
	text-align:center;
		height:100px;
		border-radius:10px;
		border-style:solid;
		border-width: 1px;
		padding:5px;
		margin:5px;
		background: #eee;
}

.info-text
{
	width:100%;

}

.info-icon
{
	padding:10px;
}

.post-content
{
	padding:5px;
}
