.siteHeader {
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 22px;
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .logo {
    float: left;
  }
}

@media (min-width: 48em) {
  .nav {
    float: right;
  }
}
.nav li {
  display: inline;
  line-height: 3.5;
  margin-left: 25px;
}
.nav li:first-of-type {
  margin-left: 0;
}

.siteContent {
  padding: 5px 0;
  text-align: center;
}

.siteFooter {
  border-top: 1px solid #eee;
  padding-top: 15px;
}

#content-carousel
{
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
}

#content-carousel .item{
  display: block;
  padding: 14px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#content-carousel .item img{
  display: block;
  max-width: 80%;
  max-height: 80%;

}
