




<div class="row well green-striped-bottom">



<div class="tab-content">
  <div class="tab-pane fade in active" id="bio" >


  <div class="col-sm-3">


      <div class="thumbnail"  >

        <a href="http://www.larvalabs.com/cryptopunks/details/1164" target="_blank">
          <img src="/assets/cryptopunk1164.png"   style=" box-shadow: 0px 1px 5px #888888;  ">
        </a>

            <div class="caption center" style="padding:15px;" >

              <p>
                <a href="http://github.com/admazzola" style="display:block">
                  <div class="btn btn-default"> <span class="fa fa-github"></span> Admazzola </div>
                </a>
              </p>



             </div>
          </div>


  </div>
  <div class="col-sm-5">

    <div class="row" style="display:inline-block;padding:40px;line-height: 2;">

      <h3> Hi, I'm Andy.  I develop blockchain software. </h3>



    </div>
      <div class="row"  >
        <div class="pull-right" style="padding:10px;">
          <a href="/about">
            <div class="btn btn-default"> More About Me </div>
          </a>
        </div>
    </div>

  </div>
  <div class="col-sm-4">

    <div class="" style="padding:15px; width:240px; margin:0 auto;">
            <a href="https://etherchain.org/account/0x7132C9f36abE62EAb74CdfDd08C154c9AE45691B" target="_blank">
              <img src="/assets/admazzola-eth-address.png"   style=" box-shadow: 0px 1px 5px #888888; " width=240>
            </a>



          <div style="text-align:center; margin:20px;">
            <div class="btn btn-primary btn-donate-ether">
              Donate Ether
            </div>
         </div>

        </div>
  </div>



 </div>


</div>
