
<div class="row">
  <div class="col-sm-3">



      <div class="thumbnail">
        <img src="/assets/portrait.jpg"   style=" box-shadow: 4px 4px 5px #888888; ">

            <div class="caption center">
              <h3 style="color:#222">Andrew Mazzola</h3>

              <p>
                <a href="http://github.com/admazzola" style="display:block">
                  <div class="btn btn-default"> <span class="fa fa-github"></span> Admazzola </div>
                </a>
              </p>

             </div>
          </div>


  </div>
  <div class="col-sm-9">

    <div class="row">
      <div style="height:220px;">
           
      </div>
    </div>
      <div class="row">
        <div class="pull-right" style="padding:10px;">
          <a href="https://www.upwork.com/freelancers/~01e09643fdc4a688b7">
            <div class="btn btn-default"> Hire me on UpWork.com </div>
          </a>
        </div>
    </div>

  </div>




</div>
