




<div class="row well green-striped-bottom">



<div class="tab-content">
  <div class="tab-pane fade in active" id="bio" >


  <div class="col-sm-3">



      <div class="thumbnail"  >
        <img src="/assets/portrait.jpg"   style=" box-shadow: 0px 1px 5px #888888;  ">

            <div class="caption center" style="padding:15px;" >
              <h3 style="color:#222;font-size:12px;">Andrew Mazzola</h3>

              <p>
                <a href="http://github.com/admazzola" style="display:block">
                  <div class="btn btn-default"> <span class="fa fa-github"></span> Admazzola </div>
                </a>
              </p>
                <span style="color:#666;font-size:10px"><i class="fa fa-bolt"></i>  B.S. Electrical Engineering, 2015</span>

             </div>
          </div>


  </div>
  <div class="col-sm-9">

    <div class="row" style="display:inline-block;">

        <div class="col-sm-6 ">
          <div class="info-bubble">
              <div class="info-text"> I'm a software developer based in Detroit, MI. </div>
              <div class="info-icon">   <span class="fa fa-map-marker" ></span> </div>
            </div>
          </div>
        <div class="col-sm-6">
          <div class="info-bubble">
          <div class="info-text"> I build cool things in Ruby on Rails. </div>
          <div class="info-icon">   <span class="fa fa-diamond"></span> </div>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="info-bubble">
            <div class="info-text"> I also set up Linux web servers and domains. </div>
            <div class="info-icon">   <span class="fa fa-cloud-upload"></span> </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="info-bubble">
            <div class="info-text"> My software projects are my passion.  Check them out. </div>
            <div class="info-icon">   <span class="fa fa-heart-o"></span> </div>
          </div>
        </div>

    </div>
      <div class="row"  >
        <div class="pull-right" style="padding:10px;">
          <a href="https://www.upwork.com/freelancers/~01e09643fdc4a688b7">
            <div class="btn btn-default"> Hire me on UpWork.com </div>
          </a>
        </div>
    </div>

  </div>



 </div>


</div>
