 <header class="banner">
        <div class="container">
            <div class="row">
                <div class="column-16">

                    <div class="intro-text">

                        <div class="row">

                        <div class="center col-sm-4" >
                          <span class="message"  >I'm in the business of Software Engineering...</span>
                        </div>

                        <div class="center col-sm-4" >
                          <a href="/">
                            <img src="/assets/ADMLogo.png" width=100 >
                          </a>
                          </div>

                          <div class="center col-sm-4" >

                          <span class="message" >...and business is booming.</span>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </header>
