 <header class="banner">

        <div class="container"  >

          <div class="brand-logo">
                <a href="/">
                  <img src="/assets/starflask-pyramid.png" width=50 >
                  <span>Starflask Labs</span>
                </a>
            </div>



            <div class="banner-nav">
               <ul>

                 <a href="/projects">
                 <li>
                   Projects
                 </li>
                </a>

                <a href="/about">
                 <li>
                   About
                 </li>
               </a>
               
               </ul>
            </div>



        </div>
    </header>
