 <header class="banner">
        <div class="container">
            <div class="row">
                <div class="column-16">
                   
                    <div class="intro-text">
                    	
                        <h3 class="name">  <i class="fa fa-github"></i> Admazzola's Upgraded Github Repo Pages</h3>
                        <hr class="star-light">
                         <div class="name">  Now we're cookin' with <i class="fa fa-html5"></i> </div>
                        <span class="skills">{{ site.description }}</span>
                    </div>
                </div>
                
                
               
                
                
                
                
            </div>
        </div>
    </header>