<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  	{% include header.html %}


<div class="page-content">
<div class="container">
  <div class="row">
    <div class="parallelogram center">
      <p>
       About Me
     </p>
    </div>
  	<div class="column-12">


      	{% include bio.html %}


  	</div>
  </div>
<hr style="margin:20px;">
<div class="row green-striped-bottom">


  <div class="parallelogram center">
    <p>
     My Favorite Creations
   </p>
  </div>

	<div class="column-12">
		<div class=" sidenav">

    	{% include sidenav.html %}

		</div>
	</div>
</div>
<hr style="margin:20px;">
<div class="row">

	<div class="column-12">

     	   {{ content }}

	</div>


</div>

</div>
</div>

  {% include footer.html %}
  </body>

</html>

<script src="/js/particle.js"></script>
<script src="/js/admazzola.js"></script>
